/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
    background: transparent;
    overflow-y: hidden;
}

body::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background: var(--thumb-color);
    border-radius: 12px;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background:  var(--thumb-hover-color);
    border-radius: 12px;
    background-clip: content-box;
}

body::-webkit-scrollbar-corner {
    border-radius: 12px;
}