/* -------------------------- LAYOUT -------------------------- */

html {
    font-size: 20px;
}

* {
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

/* Color theme */
:root {
    --article-min-width: 300px;
    --article-max-width: 900px;
    --section-gap: 2.5rem;

    --color-white: #ECECEC;
    --color-grey: #9C9C9E;
    --color-black: #323232;
    --color-footer: #202123;
}

:root,
    /* Default dark, therefore this should place first */
    html[data-user-theme='dark'] {
        --bg-color: var(--color-black);
        --text-color: var(--color-white);
        --sel-text-color: var(--color-black);
        --sel-bg-color: var(--color-white);
        --navbar-color: var(--color-black);
        --footer-color: var(--color-footer);
        --shadow-color: #1111118C;
        --thumb-color: var(--color-grey);
        --thumb-hover-color: var(--color-white);
    }
    
    html[data-user-theme='light'] {
        --bg-color: white;
        --text-color: var(--color-black);
        --sel-text-color: var(--color-white);
        --sel-bg-color: var(--color-black);
        --navbar-color: white;
        --footer-color: var(--color-footer);
        --shadow-color: var(--color-black);
        --thumb-color: var(--color-grey);
        --thumb-hover-color: var(--color-black);
    }

/* Main structure */
body {
    overflow-x: hidden;
    overflow-y: overlay;
    background-color: var(--bg-color);
}

.main-layout {
    min-width: var(--article-min-width);
    max-width: var(--article-max-width);
    min-height: 100vh;
    min-height: 100dvh;
    margin: auto;

    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
    row-gap: var(--section-gap);
}

.main-header {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    place-content: center;
    margin-top: 6rem;
}
.article-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.tool {
    display: flex;
    align-items: center;
}
.main-header .article-info {
    justify-self: start;
}
.main-header .tool {
    justify-self: end;
    align-self: stretch;
}

@media screen and (max-width: 640px) {
    .main-header {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;        
        place-content: start;
        row-gap: 0.5rem;
    }
    .main-header .article-info {
        justify-self: start;
    }
    .main-header .tool {
        justify-self: start;
    }
}

.article-list {
    display: grid;
    place-content: center;
    row-gap: 1rem;
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.article-list li {
    min-width: 300px;

    background-color: var(--bg-color);
    border-radius: 1rem;
}
.article-list li a:hover {
    filter: sepia(50);
}

footer {
    width: calc(100vw - 150px);
    min-width: var(--article-min-width);
    max-width: var(--article-max-width);
    height: 6rem;

    display: grid;
    place-items: center;
    background-color: var(--footer-color);
    border-radius: 1rem 1rem 0 0;
}

/* Element structure */
.author-img {
    --img-radius: 1rem;

    width: auto;
    height: calc(var(--img-radius) * 2);
    border-radius: var(--img-radius);
}
.author {
    display: grid;
    place-items: left;
    place-content: center;
}

.headings {
    justify-self: left;
}

.main-article {
    display: grid;
    row-gap: var(--section-gap);
}
.main-article section::after {
    display: flex;
    place-content: center;
    margin-top: var(--section-gap);

    content: '．．．';
    color: var(--text-color);
}
.main-article img {
    width: 100%;
    justify-self: center;
    object-fit: contain;
    pointer-events: none;
}
.main-article iframe {
    width: 100%;
    height: auto;
}


/* -------------------------- STYLES -------------------------- */

/* Navigation Bar */
.btn-svg {
    display: flex;
    border: none !important;
    align-items: center;
    justify-self: end;
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}
.btn-svg svg {
    fill: var(--text-color) !important;
    height: 1.2rem;
    width: auto;
}

/* Text */
.heading {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}
.subheading {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.title {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.title-sp {
    position: relative;

    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.title-sp::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    left: -1rem;
    background-color: var(--text-color);
}

.title-sm {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blockquote {
    display: block;
    text-align: center;

    color: var(--text-color);
    font-family: 'Noto Serif', 'Noto Serif TC', serif;
    font-size: 1rem;
}

.text-italic {
    font-style: italic;
}

p {
    color: var(--text-color);
    font-family: 'Poppins', 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    text-align: justify;
    line-height: 1.5rem;
}
br {
    display: block;
    content: '';
    margin-top: 1.5rem !important;
}

/* -------------------------- OTHERS -------------------------- */

/* Twemoji style */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

/* Shadows */
.drop-shadow {
    -webkit-box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
    box-shadow: 0rem 0rem 1rem -0.5rem var(--shadow-color);
}

/* Disable transition */
.transition-none {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
}

/* Selection */
::selection {
    color: var(--sel-text-color);
    background: var(--sel-bg-color);
}